*.VC.db
*.VC.opendb
*.sdf
*.pdb
*.ilk
*.iobj
*.ipdb
*.swp
unity_decoder/Debug/
/Debug/string_literal.txt
/Debug/global-metadata.dat
/Debug/global-metadata.dat-ios
/Debug/global-metadata.dat-win
/Debug/method_name.txt
/unity_decoder/global-metadata.dat
unity_decoder/Release/